*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 16px;

  --white: #fff;
  --black: #030712;
  --bg-gray: #f3f4f6;
  --cell-hover: #d1d5db;
  --ship: #374151;
  --missed: #bfdbfe;
  --hit: #f87171;
}

body {
  background-color: var(--bg-gray);
  display: flex;
  flex-direction: column;
}
